*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.Gemstone {
  width: 1360px;
  height: 300px;
  position: absolute;
  top: 100%;
  left: -20px;
  background-color:#F4F1E6;
  color: black;
  padding: 10px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 10;
  margin-top: 1px;
  font-size: 14px;
}


.Gemstone .Ring{
  width: 230px;
  height: 300px;
  margin-top: -10px;
  margin-right: 20px;
  background-color: #edeae9 ;
}
.Gemstone .Ring ul li:hover{
  
  background-color: red ;
}
.Gemstone .Right .Shop h3{
  font-size: 16px; 

}
.Gemstone  .Wear{
  width: 230px;
  height: 500px;
  margin-left: 80px;
}
.Gemstone  .Wear h3{
  font-size: 16px;
}
.Gemstone  .Wear .Dail p{
 margin-left: 15px;
 margin-top: 10px;
}
.Gemstone  .Wear .Dail{
  display: flex;
  margin-top: 10px;
}
.Gemstone  .Metal{
  width: 230px;
  height: 500px;
  margin-left: 40px;
  margin-bottom: 40px;
 
}
.Gemstone  .Metal h3{
  font-size: 16px;
 
}
.Gemstone  .Metal .Yellow{
  display: flex;
  margin-top: 10px;
}
.Gemstone  .Metal .Yellow p{
 margin-left: 15px;
 margin-top: 10px;
}
.Gemstone .Right  .Band{
  display: flex;
  margin-top: 10px;

}
.Gemstone .Right  .Band img{

  margin-right: 10px;

}
.Gemstone .Right .Band-right {
  margin-left: 20px;
}
.Gemstone .Right .Band-right .Casual{
  display: flex;
  margin-top: 10px;
}
.Gemstone .Right .Band-right .Casual img{
  margin-left: 10px;
}
