*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.Gift {
    width: 1360px;
    height: 300px;
    position: absolute;
    top: 100%;
    left: -2px;
    background-color:white;
    color: black;
    padding: 10px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 10;
    margin-top: 0px;
    font-size: 14px;
  }
  .Gift .Right .Band p{
    margin-left: 15px;
    margin-top: -5px;
  }
 
  
  .Gift .Ring{
    width: 230px;
    height: 40px;
    margin-top: -10px;
    margin-right: 20px;
    background-color: #edeae9 ;
  }
  .Gift .Ring ul li:hover{
    
    background-color: red ;
  }
  .Gift .Right .Shop h3{
    font-size: 15px; 

  }
  .Gift  .Wear{
    width: 230px;
    height: 500px;
    margin-left: 80px;
    margin-top: 10px;
  }
  .Gift  .Wear h3{
    font-size: 15px;
   
  }
  .Gift  .Wear .Dail p{
   margin-left: 15px;
   margin-top: -18px;
  }
  .Gift  .Wear .Dail{
    display: flex;
    margin-top: 10px;
  }
  .Gift  .Metal{
    width: 230px;
    height: 500px;
    margin-left: 40px;
    margin-bottom: 40px;
   
  }
  .Gift  .Metal h3{
    font-size: 18px;
   
  }
  .Gift  .Metal .Yellow{
    display: flex;
    margin-top: 10px;
  }
  .Gift  .Metal .Yellow p{
   margin-left: 15px;
   margin-top: 10px;
  }
  .Gift .Right  .Band{
    display: flex;
    margin-top: 10px;
    color: #9A0056;

  }
  .Gift .Right  .Band img{
 
    margin-right: 10px;

  }
  .Gift .Right .Band-right {
    margin-left: 60px;
  }
  .Gift .Right .Band-right .Casual{
    display: flex;
    margin-top: 5px;
    margin-left: 60px;
    color: #9A0056;
    
  }
  .Gift .Right .Band-right .Casual img{
    margin-left: 10px;
  }
 