.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 10;
    color: #fff;
    text-align: center;
  }
  
  .carousel-caption h5 {
    border-bottom: 2px dotted #fff; /* Adds a dotted underline to the h5 element */
    padding-bottom: 10px; /* Adds some space between the text and the underline */
    display: inline-block;
  }
  
  .carousel-caption p {
    margin-top: 10px;
  }
  