/* .fast-ships{
  display: flex;
}
.fast-ships .fast{
    width: 100%;
    height: 160px;
    background-color: yellow;
}
.fast-ships .fast img{
    width: 15%;
   border-radius: 50%;
}
.fast-ships  .seller img{
    width: 20%;
   border-radius: 50%;
} */